body{
	display: block;
	height: 100%;

}
nav{
	font-family: 'Asap', sans-serif;
	background-color: transparent!important;
	box-shadow: none!important;
}
.header-top{
	border-bottom: 0.2px solid #f6f7f8;
	height: 60px;
}
.header-logo{
	display: inline;
	margin-top: 15px;
	float: left;
}
.home{
	color: #c67b5b!important;
}
.nav-in-header{
	float: right;
	background-color: transparent;
	box-shadow: none;
	margin-top: -3px;
	width: 300px;
	height: 60px;
}
.nav-in-header ul li a {
	background: transparent;
	padding-right: 2px;
	height: 60px;
	text-align: left;
	font-size: 14px;
	color: #94969b;
}
.nav-in-header .material-icons{
	color: #333333;
}
.right-header {
	padding-top: 16px;
	float: left;
}
.right-header .login {
	font-family: 'Asap', sans-serif;
	padding-right: 12px;
	border-right: #333333 solid 1px;
	background: transparent!important;
	line-height: initial;
	color: #94969b;
}
.right-header .daftar {
	font-family: 'Asap', sans-serif;
	padding-left: 7px;
	padding-right: 10px;
	background: transparent!important;
	color: #94969b;
}
.shop-icon {
	float: right;
}
.shop-icon .material-icons {
	color: black;
}
.carousel-item{
	position: relative;
	background-color: #f7e7df;
}
.carousel-item .thumbnail{
	position: absolute;
	top: 3%;
	left: 10%;
}
.carousel-item .content{
	position: absolute;
	top: 15%;
	right: 20%;
}
.carousel-item .thumbnail img{
	
}
.carousel-item .content h1{
	margin-bottom: 40px;
	font-size: 48px;
	max-width: 359px;
	width: 100%;
	font-family: 'Playfair Display', serif;
}
.carousel-item .content p{
	margin-bottom: 43px;
	font-size: 18px;
	max-width: 380px;
	width: 100%;
	color: #94969b;
	font-family: 'Asap', sans-serif;
}
.carousel-item span{
	font-size: 18px;
	font-family: 'Playfair Display', serif;
}
.buy-book-button .btn{
	width: 134px;
	border-radius: 50px;
	margin-top: 21px;
	background-color:#c67b5b;
	box-shadow:none;
	text-transform: none;
}
.about-writter{
	margin-top: 120px;
}
.about-writter .content h2{
	font-size: 36px;
	font-family: 'Playfair Display', serif;
}
.about-writter .content p{
	width: 100%;
	font-size: 14px;
	color: #63656a;
	font-family: 'Asap', sans-serif;
}
.about-writter .writter-photo{
	float: right;
	position: relative;
}
.about-writter .img-overlay{
	top: -7%;
	right: 13%;
	position: absolute;
}
.about-writter .writter-photo img{
	width: 268px;
}
.about-writter .img-overlay img{
	width: 300px!important;
}
.my-book h2{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	text-align: center;
	margin-bottom: 0px;
	font-family: ;
	font-weight: bold;
}
.my-book p{
	color: #adafb7;
	font-family: 'Asap', sans-serif;
	margin-bottom: 50px;
	font-size: 14px;
	text-align: center;
}
.my-book .thumbnail{
	max-width: 232px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.my-book .thumbnail img{
	width: 100%;
}
.my-book .content h3{
	font-size: 16px;
	text-align: center;
}
.my-book .content p{
	font-family: 'Asap', sans-serif;
	color: #c67b5b;
	font-size: 14px;
	text-align: center;
}
.card:hover{
	box-shadow: -2px 6px 18px 0px rgba(193, 195, 204, 0.5);
}
.main-img{
	position: relative;
}
.main-img img{
	width: 100%;
}
.main-img .title{
	position: absolute;
	top: 60px;
	left: 212px;
}
.main-img .title h1{
	margin-top: 0px;
	font-size: 36px;
	margin-bottom:8px; 
}
.main-img .title p{
	margin-left: 3px;
	margin-top: 0px;
	font-size: 18px;
}
.blog-artikel h2{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	text-align: center;
	margin-bottom: 0px;
	font-family: ;
}
.blog-artikel p{
	font-family: 'Asap', sans-serif;
	margin-bottom: 50px;
	font-size: 14px;
	text-align: center;
}
.blog-content{
	padding: 24px;
}
.blog-content h2{
	font-family: 'Playfair Display', serif;
	color: #333333;
	font-size: 18px!important;
	margin-top: 0px;
	margin-bottom: 7px;
	text-align: left;
}
.blog-content span{
	font-family: 'Asap', sans-serif;
	color:#adafb7;
}
.blog-img img{
	width: 100%;
}
.card-image img{
	margin-bottom: 0px;
}
.blog-content{
	padding: 24px;
}
.blog-content h2{
	font-weight: bold;
	color: #333333;
	font-size: 18px!important;
	margin: 0px;
	margin-top: 13px;
	text-align: left;
}
.blog-content p{
	color: #9797a0;
	margin-top: 19px!important;
	margin-bottom: 0px;
}
.blog-link{
	padding: 2px 24px;
	padding-bottom: 20px;
}
.blog-link a{

	color: #f67b35;
}
.new-article h3{
	font-size: 16px!important;
	color: #333333;
	font-weight: bold;
	text-align: left;
	margin: 0px;
}
.left-category .category{
	font-size: 18px;
	font-weight: bold;
}
.left-category a{
	font-size: 16px;
	color: #333333;
}
.filter #input-harga{
	width: 70px;
	border-bottom: none;
	background-color: #e9eaec;
}
.filter p{
	font-weight: bold;
}
.filter a{
	color: #333333;
}
.filter .btn-warning{
	text-transform: none;
	background-color: #c67b5b!important;
	width: 170px;
	box-shadow: none!important;
}
#button-cancel{
	background-color: #2bbbad!important;
	width: 170px;
	box-shadow: none;
	text-transform: none;
}
.list a{
	padding: 0px;
}
.list a,.search a{
	color: #ddd;
}
.apps a{
	padding:  0px 5px;
	color: #c67b5b;
}
.search a{
	margin-left: 10px;
	padding: 0px 10px;
}
.input-craft #first_name{
	height: 30px;
	padding: 0px 12px;
	border-left: 0.6px solid #ddd;
	border-bottom: none;
}
.browser-default{
	width: 100px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	color: #909096;
}
.slide-craft{
	margin-top: 60px;
}
.page ul li{
	width: 29px;
}
.page ul .active{
	background-color: #c67b5b!important;
}
.page ul .second-active{
	background-color: #eeeeee;
}
.search-container{
	position: fixed;
	top: -56px; 
	left: 0; 
	width: 100%; 
	background: #111; 
	z-index: 9;
}
.search-container form{
	background: #0a0a0a!important;
	border-radius: 4px;
	margin: 8px 0px;
}
.search-container button,.search-container .form-control{
	width: 100%; 
	background: #0a0a0a!important; 
	color: #EEE; 
	border: none!important; 
	box-shadow: none!important; 
	margin: 0px!important; 
	height: 40px!important; 
	line-height: 40px!important; 
	font-size: 14px!important
}
.search-container .row{
	margin: 0px;
}
.search-container button{
	text-align: right;
	padding-right: 10px
}
.full-width{width: 88%;}
.filter-button{
	position: fixed; bottom: 0px; 
	left: 0; 
	width: 100%; 
	background:#c67b5b; 
	z-index: 1; 
	text-align: center;
	padding: 8px; 
	cursor: pointer;
	color: #ffffff;
}

.fixed-screen{
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top:0; 
	left: 0;
}
@media (max-width:992px){
	header .logo,.tagline img{text-align: center; margin-left: auto; margin-right: auto;}
	nav.mobile{position: fixed; bottom: 0; left: 0; width: 100%; margin: 0px; border-radius: 0px; line-height: 50px; height: 50px; z-index: 99}
	nav.mobile .search-button i,nav.mobile .search-button svg{height: 50px!important; line-height: 50px!important;color: #a62a23;}
	nav.mobile .search-button svg{font-size: 20px;display: inline-block;}
	nav.mobile ul{display: table; width: 100%}
	nav.mobile ul li{display: table-cell; float: none; vertical-align: top;}
	nav.mobile ul li a{text-align: center;}
	nav.mobile ul li a.sidenav-trigger{float: none!important; height: 90px!important;margin: 0px!important;}
	.container-scrolldown{bottom: 110px}
	.tagline .icon{width: 100px}
	.tagline .text{width: 240px}
	header video, header .poster{margin-left: calc(100% - 130vh);}
	.tagline{margin-top: 160px; position: static;}

	header.not-home-page{height: 0px;}

	.filter-content{position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: #FFF; z-index: 99999999; padding: 10px 20px; overflow: auto; position: fixed;}

	.video-youtube-item .overlay i{margin: 25px auto;}

}
.img-product .content{
	margin-top: 20px;
	margin-bottom: 20px;
}
.img-product img{
	width: 100%;
	height: 100%;
}
.img-product h3{
	font-weight: bold;
	margin: 0px;
	height: 30px;
	font-size: 16px!important;
	color: #3a3c3f
}
.img-product p{
	text-align: left;
	color: #c67b5b;
}
.blog-form{
	background-color: #f3f4f5;
	height: 45px;
	margin-bottom: 35px;
	margin-top: 8px;
	position: relative;
	width: 290px;
}
#blog-input{
	height: 40px;
	border-bottom: none;
	width: 215px;
	padding: 0px 15px;
}
.blog-form button{
	border: none;
	position: absolute;
	top: 10px;
	background-color: transparent;
}
.blog-form button .material-icons{
	color: #b0b2b4;
}
.blog-aside .content a h4{
	text-align: left;
	color: #333333;
	font-weight: bold;
	font-size: 14px!important;
	margin-top: 0px;
	margin-bottom: 10px;
	height: 50px;
}
.blog-aside{
	margin-top: 20px;
}
.blog-aside .thumbnail{
	width: 80px;
	height: 80px;
	float: left;
}
.blog-aside img{
	width: 100%;
	height: 80px;
}
.blog-aside .content{
	float: right;
	width: calc(100% - 80px);
	padding-left: 20px;
}
.img-blog-overlay{
	position: relative;
	margin-top: 52px;
}
.img-blog-overlay img{
	width: 100%;
}
.discount{
	position: absolute;
	top: 45%;
	left:10%;
}
.discount p{
	font-size: 36px;
	font-weight: bold;
	width: 72px;
}
.home-produk{
	display: block;
	margin-left: auto;
	width: 100%;
	max-width: 900px;
	margin-right: auto;
	border-bottom: 0.4px solid #ddd;
	padding-bottom: 25px;
}
.home-produk a{
	color: #333333;
}
.home-produk{
	margin-left: 12px;
	margin-top: 17px;
	margin-bottom:17px; 
}
.home-produk .baxton{
	color:#c67b5b;
}
article{
	width: 100%;
	max-width: 835px;
	min-width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
article img{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.fa{
	padding: 10px;
	font-size: 10px;
	width: 30px;
	text-align: center;
	text-decoration: none;
}
.share-icon{
	margin-top:80px;
	margin-left: 36px;
	margin-bottom: 120px;
}
.detail-img img{
	height: auto;
}
.slider-nav{
	width: 100%;
}
.share{
	margin-right: 30px;
}
.share-icon .share{
	color: black;
}
.share-icon .fa-facebook{
	background:white!important;
	color: grey!important;
	font-size: 12px;
}
.share-icon .fa-twitter{
	background:white!important;
	color: grey!important;
	font-size: 12px;
}
.share-icon .fa-envelope-o{
	background:white!important;
	color: grey!important;	
	font-size: 14px;
}
.share-icon .fa-pinterest-p{
	background:white!important;
	color: grey!important;
	font-size: 14px;
}
.share-icon .fa-google-plus{
	background:white!important;
	color: grey!important;
	font-size: 14px;
}
.share-icon .fa-whatsapp{
	background:white!important;
	color: grey!important;;
	font-size: 14px;
}
.item-spec h1{
	font-size: 24px;
	margin: 0px;
}
.item-spec p,strong{
	margin: 0px;
	font-size: 14px;
}
.item-spec .harga strong{
	font-size: 24px;
	color: #c67b5b;
}
.item-spec .stok p{
	font-size: 14px;
	color: #ed4c63;
}
.item-spec .btn-warning{
	width: 150px;
	background-color: #e4e6e9;
	color: #3a3c3f;
	margin-top: 5px;
	font-size: 14px;
	box-shadow: none;
	text-transform: none;
}
.item-spec .stok .btn-warning{
	width: 250px;
	background-color: #c67b5b;
	font-size: 14px;
	color: #ffffff;
	box-shadow: none;
} 
.item-spec .berat,.harga{
	margin-top: 20px;
}
.item-spec .stok p{
	color: #c67b5b;
	height: 30px;
}
.item-spec .stok{
	margin-top: 80px;
}
.ukuran{
	margin-top: 20px;
}
.ukuran .browser-default{
	width: 100px;
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	color: #909096;
}
.deskripsi-produk{
	margin-top: 70px;
	margin-left: 12px;
}
.deskripsi-produk h2{
	margin: 0px;
	text-align: left;
	color: #333333;
	font-size: 14px;
}
.deskripsi-produk p{
	color: #9797a0;
	font-size: 14px;
}
.medsos-icon{
	margin-top: 70px;
	margin-left: 12px;
}
.medsos-icon h2{
	margin: 0px;
	font-size: 14px;
	text-align: left;
	height: 25px
}
.fa-tumblr{
	background: #2c4762;
	color: white;
	font-size: 14px;
	size: 5px;
}
.fa-facebook{
	background: #3B5998;
	color: white;
	font-size: 12px;

}
.fa-twitter{
	background: #55ACEE;
	color: white;
	font-size: 12px;
}
.fa-print{
	background: grey;
	font-size: 14px;
	color: white;
}
.fa-plus{
	background: #f67b35;
	font-size: 14px;
	color: white;
}
.produk-terkait h2{
	font-size: 24px;
	font-weight: bold;
	margin-left: 12px;
}
footer{
	background-color: #c67b5b;
	margin-top: 30px;
}
footer .row{
	margin-bottom: 0px;
}
footer .footer-logo{
	padding-top: 25px;
}
footer .footer-logo p{
	font-family: 'Asap', sans-serif;
	margin-top: 5px;
	margin-left: 3px;
	margin-bottom: 0px;
	font-size: 14px!important;
	color:#e8ccbf;
}
footer .footer-icon{
	padding-top: 25px;
	padding-bottom: 22px;
	float: right;
}
footer .footer-icon img{
	margin-left: 10px;
	width: 50px;
	height: 50px;
}

@media(min-width: 481px) and (max-width: 767px) {
	.carousel-item .thumbnail{
		max-width: 200px;
		top: 3%;
		left: -3%;
	}
	.carousel-item .content{
		top: 1%;
		right: 8%;
	}
	.carousel-item .thumbnail img{
		width: 100%;
	}
	.carousel-item .content h1{
		font-size: 22px;
		max-width: 280px;
		width: 100%;
		margin-bottom: 0px;
	}
	.carousel-item .content p{
		margin-bottom: 10px;
		font-size: 14px!important;
		max-width: 280px;
		width: 100%;
	}
	.carousel-item span{
		font-size: 16px;
	}
	.buy-book-button .btn{
		width: 100px;
		margin-top: 10px;
	}
	.img-overlay{
		top: -4%!important;
		bottom: 0px;
		left: 0px;
		right: 19%!important;
		position: absolute;
	}
	.main-img .title{
		top: 20px;
		left: 35px;
	}
	.main-img .title h1{
		font-size: 20px;
		color: black;
	}
	.main-img .title p{
		font-size: 12px;
		margin-left: 0px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.carousel-item .thumbnail{
		max-width: 350px;
		top: 3%;
		left: 0%;
	}
	.carousel-item .content{
		top: 10%;
		right: 10%;
	}
	.carousel-item .thumbnail img{
		width: 100%;
	}
	.carousel-item .content h1{
		font-size: 36px;
		max-width: 359px;
		width: 100%;
	}
	.carousel-item .content p{
		max-width: 350px;
		width: 100%;
	}
	.img-overlay{
		top: -4%!important;
		bottom: 0px;
		left: 0px;
		right: 13%!important;
		position: absolute;
	}
	.main-img .title{
		top: 30px;
		left: 100px;
	}
	.main-img .title h1{
		color: black;
		font-size: 30px;
	}
	.main-img .title p{
		font-size: 14px;
	}
}
@media(max-width: 992px) {
	.nav-in-header{
		height: 0px;
	}
	.nav-in-header a{
		top: 0%;
		position: absolute!important;
		left: 0%;
	}
	.header-logo{
		float: right;
	}
	.about-writter{
		margin-top: 50px;
	}
	.about-writter .thumbnail{
		display: inline;
		text-align: center;
		float: none;
	}
	.about-writter .content{
		margin-bottom: 70px;		
	}
	.about-writter .writter-photo{
		float: none;
	}
	.img-overlay{
		top: -4%;
		bottom: 0px;
		left: 0px;
		right: 10%;
		position: absolute;
	}
	.item-spec{
		margin-top: 50px;
	}
}
@media (min-width: 993px) and (max-width: 1200px) {
	.carousel-item .thumbnail {
		position: absolute;
		max-width: 430px;
		top: 9%;
		left: 7%;
	}
	.carousel-item .thumbnail img {
		width: 100%;
	}
	.carousel-item .content {
		position: absolute;
		top: 15%;
		right: 15%;
	}
}
